* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 1.375rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.875rem;
}

span {
  font-size: 0.75em;
}

body {
  overflow-x: hidden;
  color: hsl(0deg, 0%, 27%);
  background-color: hsl(255deg, 80%, 98%);
}

.container {
  padding: 2rem 1rem 1rem 1rem;
}

img {
  border-radius: 50%;
}

article:last-child {
  margin-bottom: 2rem;
}

.subtitle {
  color: hsl(0deg, 0%, 64%);
}

i img {
  border-radius: 0;
}

hr {
  background-color: hsl(0deg, 0%, 27%);
  opacity: 0.1;
}

button {
  padding: 0.813rem 1rem;
  width: 8.688rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.doctor__header {
  display: flex;
  line-height: 28px;
  margin-bottom: 30px;
}

.doctor__img {
  margin-right: 1rem;
  width: 57px;
}

.consult-block {
  margin-top: 1rem;
  justify-content: space-between;
  max-width: 20.5rem;
  height: 100%;
  border-radius: 0.5rem;
  background-color: hsl(0deg, 0%, 100%);
}

.consult-block__header {
  position: relative;
  padding: 1rem 1rem 0.75rem 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.consult-block__info {
  display: flex;
}

.consult-block__img {
  margin-right: 1rem;
  width: 2rem;
}

.consult-block__lh {
  line-height: 1.375rem;
}

.consult-block__text {
  display: flex;
  font-size: 0.75rem;
}

.consult-block__ml {
  margin-left: 0.5rem;
}

.consult-block__chat-icon-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.consult-block__circle {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: hsl(0deg, 0%, 96%);
}

.consult-block__chat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.consult-block__footer {
  padding: 1rem;
}

.consult-block__hours {
  font-size: 0.75rem;
  font-weight: 500;
}

.consult-block__buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.consult-block__video-button {
  background-color: hsl(33deg, 100%, 66%);
  color: #fff;
}

.consult-block__audio-button {
  border: 1px solid hsl(0deg, 0%, 93%);
  background-color: #fff;
  color: hsl(0deg, 0%, 27%);
}

.consult-block__adress-button {
  width: 100%;
  background-color: hsl(215deg, 100%, 64%);
  color: #fff;
}

.container-mobile-button {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}

#toggle {
  display: none;
}

.mobile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: hsl(215deg, 100%, 64%);
  cursor: pointer;
  box-shadow: 0px 3px 15px 1px hsla(215deg, 100%, 64%, 0.9);
}

.mobile-menu {
  position: absolute;
  z-index: 1;
  right: 1rem;
  bottom: 4.625rem;
  box-shadow: 0px 0px 8px 2px hsla(0deg, 0%, 0%, 0.059);
  transition: all 0.2s ease-in;
}
.mobile-menu:before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 0.125rem;
  background-color: #fff;
  transform: rotate(90deg);
  transition: all 0.4s ease;
}
.mobile-menu:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 0.125rem;
  background-color: #fff;
  transition: all 0.4s ease;
}

.fab-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}
.fab-nav ul {
  position: absolute;
  right: 1rem;
  bottom: 8.125rem;
  transition: all 0.4s ease-in-out;
  transform: translateX(50%);
}
.fab-nav li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.fab-nav span {
  margin-right: 1rem;
  padding: 0.125rem 0.5rem;
  border-radius: 50px;
  text-align: center;
  font-size: 0.75em;
  font-weight: 500;
  background-color: #FFF;
}

#toggle:checked ~ .mobile-menu {
  box-shadow: 0px 3px 15px 1px hsla(215deg, 100%, 64%, 0.9);
}

#toggle:checked ~ .fab-nav {
  opacity: 1;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  transform: translateX(0);
}

#toggle:checked ~ .fab-nav ul {
  transform: translateX(0);
}

#toggle:checked ~ .mobile-menu:before {
  transform: rotate(225deg);
}

#toggle:checked ~ .mobile-menu:after {
  transform: rotate(135deg);
}

.menu-bar {
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100%;
  padding: 8px 26px 16px 14px;
  border-radius: 12px 12px 0px 0px;
  -webkit-box-shadow: 0px -4px 8px hsla(0deg, 0%, 0%, 0.059);
  box-shadow: 0px -4px 8px hsla(0deg, 0%, 0%, 0.059);
  background-color: hsl(0deg, 0%, 100%);
}

.menu-bar__ul {
  display: flex;
  justify-content: space-between;
}

.menu-bar__li--active, .menu-bar__li {
  display: flex;
  align-items: flex-end;
}
.menu-bar__li--active a, .menu-bar__li a {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.menu-bar__li--active span, .menu-bar__li span {
  color: hsl(215deg, 100%, 64%);
}

.menu-bar__li span {
  color: hsl(0deg, 0%, 27%);
}

/*# sourceMappingURL=main.css.map */
