* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

h1 {
  font-size: clamp(1.375rem, 1rem + 2vw, 2.125rem);
}

h2 {
  font-size: clamp(1rem, 1rem + 1vw, 1.375rem);
}

h3 {
  font-size: clamp(0.875rem, 0.875rem + 0.2vw, 1rem);
}

span {
  font-size: clamp(0.75em, 0.75em + 0.08vw, 0.875rem);
}

.mobile-button:hover, .mobile-menu:hover, .consult-block__chat-icon-button:hover, .container button:hover {
  transform: scale(1.04);
  transition: all 0.4s ease;
}

.consult-block__img, .consult-block__circle {
  width: clamp(2rem, 1rem + 2vw, 2.5rem);
  height: clamp(2rem, 1rem + 2vw, 2.5rem);
}

body {
  position: relative;
  overflow-x: hidden;
  color: hsl(0deg, 0%, 27%);
  background-color: hsl(255deg, 80%, 98%);
}

@media (min-width: 62.5em) {
  .content {
    margin-left: 13vw;
  }
}

.container {
  margin-inline: auto;
  padding: 2rem 1rem 4rem 1rem;
  max-width: 22.5rem;
}
@media (min-width: 43.75em) {
  .container {
    max-width: 43.75rem;
  }
}
@media (min-width: 62.5em) {
  .container {
    margin-left: 0;
  }
}
.container img {
  border-radius: 50%;
}
.container section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.container .blocks {
  display: grid;
  margin-top: 0.5rem;
  gap: 1rem;
}
@media (min-width: 43.75em) {
  .container .blocks {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 75em) {
  .container .blocks {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.container article:last-child {
  margin-bottom: 2rem;
}
.container .subtitle {
  color: hsl(0deg, 0%, 64%);
}
.container i img {
  border-radius: 0;
}
.container hr {
  background-color: hsl(0deg, 0%, 27%);
  opacity: 0.1;
}
.container button {
  padding: 0.813rem 1rem;
  width: 8.688rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}
.doctor__header {
  display: flex;
  line-height: 1.75rem;
  margin-bottom: 1.875rem;
}

.doctor__img {
  margin-right: 1rem;
  width: clamp(3.5625rem, 1rem + 10vw, 4.1875rem);
}

.consult-block {
  flex-grow: 1;
  justify-content: space-between;
  border-radius: 0.5rem;
  max-width: 20.5rem;
  height: 100%;
  background-color: hsl(0deg, 0%, 100%);
}
@media screen and (min-width: 40.5em) {
  .consult-block {
    width: 20.5rem;
  }
}
.consult-block__header {
  position: relative;
  padding: 1rem 1rem 0.75rem 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.consult-block__info {
  display: flex;
}
.consult-block__img {
  margin-right: 1rem;
}
.consult-block__lh {
  line-height: 1.375rem;
}
.consult-block__text {
  display: flex;
  font-size: 0.75rem;
}
.consult-block__ml {
  margin-left: 0.5rem;
}
.consult-block__chat-icon-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.consult-block__chat-icon-button:hover {
  transform: scale(1.2);
}
.consult-block__circle {
  position: relative;
  border-radius: 50%;
  background-color: hsl(0deg, 0%, 96%);
}
.consult-block__chat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.consult-block__footer {
  padding: 1rem;
}
.consult-block__hours {
  font-size: 0.75rem;
  font-weight: 500;
}
.consult-block__buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.consult-block__video-button {
  background-color: hsl(33deg, 100%, 66%);
  color: #fff;
}
.consult-block .consult-block__audio-button {
  border: 1px solid hsl(0deg, 0%, 93%);
  background-color: #fff;
  color: hsl(0deg, 0%, 27%);
}
.consult-block .consult-block__adress-button {
  width: 100%;
  background-color: hsl(215deg, 100%, 64%);
  color: #fff;
}

.container-mobile-button {
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}

#toggle {
  display: none;
}

.mobile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: hsl(215deg, 100%, 64%);
  cursor: pointer;
  box-shadow: 0 0.1875rem 1rem 0.0625rem hsla(215deg, 100%, 64%, 0.9);
}

.mobile-menu {
  position: absolute;
  z-index: 1;
  right: 1rem;
  bottom: 4.625rem;
  box-shadow: 0 0 0.5rem 0.125rem hsla(0deg, 0%, 0%, 0.059);
  transition: all 0.2s ease-in;
}
.mobile-menu:before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 0.125rem;
  background-color: #fff;
  transform: rotate(90deg);
  transition: all 0.4s ease;
}
.mobile-menu:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 0.125rem;
  background-color: #fff;
  transition: all 0.4s ease;
}

.fab-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  width: 100vw;
  background-color: hsla(0deg, 0%, 0%, 0.6);
}
.fab-nav ul {
  position: absolute;
  right: 1rem;
  bottom: 8.125rem;
  transition: all 0.4s ease-in-out;
  transform: translateX(50%);
}
.fab-nav li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.fab-nav span {
  margin-right: 1rem;
  padding: 0.125rem;
  border-radius: 3.125rem;
  text-align: center;
  font-weight: 500;
  background-color: #FFF;
}

#toggle:checked ~ .mobile-menu {
  box-shadow: 0 0.1875rem 1rem 0.0625rem hsla(215deg, 100%, 64%, 0.9);
}

#toggle:checked ~ .fab-nav {
  opacity: 1;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  transform: translateX(0);
}

#toggle:checked ~ .fab-nav ul {
  transform: translateX(0);
}

#toggle:checked ~ .mobile-menu:before {
  transform: rotate(225deg);
}

#toggle:checked ~ .mobile-menu:after {
  transform: rotate(135deg);
}

.menu-bar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 0.5rem 1.625rem 1rem 0.875rem;
  border-radius: 0.75rem 0.75rem 0 0;
  -webkit-box-shadow: 0 -0.25rem 0.5rem hsla(0deg, 0%, 0%, 0.059);
  box-shadow: 0 -0.25rem 0.5rem hsla(0deg, 0%, 0%, 0.059);
  background-color: hsl(0deg, 0%, 100%);
}
@media (min-width: 62.5em) {
  .menu-bar {
    padding-top: 2rem;
    width: 13vw;
    top: 0;
    border-radius: 0 0.75rem;
  }
  .menu-bar__ul {
    flex-direction: column;
    gap: 2rem;
  }
}
.menu-bar__ul {
  display: flex;
  justify-content: space-between;
}
.menu-bar__ul li:hover {
  transform: scale(1.08);
  transition: 0.2s ease-in-out;
}
.menu-bar .menu-bar__li--active, .menu-bar .menu-bar__li {
  display: flex;
  align-items: flex-end;
}
.menu-bar .menu-bar__li--active a, .menu-bar .menu-bar__li a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 62.5em) {
  .menu-bar .menu-bar__li--active a, .menu-bar .menu-bar__li a {
    flex-direction: row;
    gap: 1rem;
  }
}
.menu-bar .menu-bar__li--active i, .menu-bar .menu-bar__li i {
  width: 1.25rem;
}
.menu-bar .menu-bar__li--active span, .menu-bar .menu-bar__li span {
  position: relative;
  color: hsl(215deg, 100%, 64%);
  font-weight: 700;
}
.menu-bar .menu-bar__li--active span::after, .menu-bar .menu-bar__li span::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.25rem;
  background-color: hsl(215deg, 100%, 64%);
  left: 50%;
  bottom: -0.5rem;
  transition: all 0.4s ease;
  border-radius: 1.25rem;
}
.menu-bar .menu-bar__li--active:hover span::after, .menu-bar .menu-bar__li:hover span::after {
  width: 100%;
  left: 0;
}
.menu-bar .menu-bar__li span {
  color: hsl(0deg, 0%, 27%);
  font-weight: 400;
}
.menu-bar .menu-bar__li span::after {
  background-color: hsl(0deg, 0%, 27%);
}
.menu-bar .menu-bar__li:hover span::after {
  background-color: hsl(0deg, 0%, 27%);
}

/*# sourceMappingURL=main.css.map */
