@use '../abstracts/index' as *;

.consult-block {
  flex-grow: 1;
  justify-content: space-between;
  border-radius: 0.5rem;
  max-width: 20.5rem;
  height: 100%;
  background-color: $consult-block-bg;


  @media screen and (min-width: 40.5em) {
    width: 20.5rem;
  }

  &__header {
    position: relative;
    padding: 1rem 1rem 0.75rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  
  &__info {
    display: flex;
  }
  
  &__img {
    margin-right: 1rem;
    @extend %imgAndChatSize;
  }
  
  &__lh {
    line-height: 1.375rem;
  }
  
  &__text {
    display: flex;
    font-size: 0.75rem;
  }
  
  &__ml {
    margin-left: 0.5rem;
  }
  
  &__chat-icon-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  &__chat-icon-button:hover {
    @extend %button-grows;
    transform: scale(1.2);
  }
  
  &__circle {
    position: relative;
    @extend %imgAndChatSize;
    border-radius: 50%;
    background-color: $chat-bg;
  }
  
  &__chat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__footer {
    padding: 1rem;
  }
  
  &__hours {
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  &__buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  &__video-button {
    background-color: $video-button-bg;
    color: #fff;
  }
  
  .consult-block__audio-button {
    border: 1px solid $audio-button-border;
    background-color: #fff;
    color: $font-color;
  }
  
  .consult-block__adress-button {
    width: 100%;
    background-color: $base-color;
    color: #fff;
  }

}

