@use '../abstracts/index' as *;

.doctor-header {
  display: flex;
  line-height: 28px;
  margin-bottom: 30px;
}

.doctor-img {
  margin-right: 1rem;
  width: 57px;
}

.subtitle {
  color: $subtitle-color;
  white-space: nowrap;
}
