@use '../abstracts/index' as *;

.doctor__header {
  display: flex;
  line-height: 1.75rem;
  margin-bottom: 1.875rem;
}

.doctor__img {
  margin-right: 1rem;
  // width: 3.5625rem;
  width: clamp(3.5625rem, 1rem + 10vw, 4.1875rem);
}

