@use '../abstracts/' as *;

.menu-bar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 8px 26px 16px 14px;
  border-radius: 12px 12px 0px 0px;
  -webkit-box-shadow: 0px -4px 8px $menu-bar-box-shadow-color;
  box-shadow: 0px -4px 8px $menu-bar-box-shadow-color;
  background-color: $menu-bar-bg-color;

  @media screen and (min-width:500px) {
    top: 0;
    width: $menu-bar-width-big;
    border-radius: 0px 12px 12px 0px;
    padding: 0.5rem 1rem;
    
    .menu-bar__ul {
      height: 100vh;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
    }
  }

  @media screen and (min-width:700px){
    width: $menu-bar-width-medium;
  }

  @media screen and (min-width: 1000px) {
    width: $menu-bar-witdh-small;
  }

}

  .menu-bar__ul {
    display: flex;
    justify-content: space-between;
  }
  
.menu-bar__li--active {
  display: flex;
  align-items: flex-end;
  
  a {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  span {
    color: $base-color;
  }

}

.menu-bar__li {
  @extend .menu-bar__li--active;
  
  span {
    color: $font-color;
  }
  
}