@use '../abstracts/index' as *;

body {
  position: relative;
  overflow-x: hidden;
  color: $font-color;
  background-color: $bg-color;
}

.content {
  @media (min-width: 1000px) {
    margin-left: 13vw;
  }
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem 4rem 1rem;
  max-width: 360px;

  @media (min-width: 700px) {
    max-width: 700px;
  }

  @media (min-width: 1000px) {
    margin-left: 0;
    
  }

  img {
    border-radius: 50%;
  }

  section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .blocks {
    display: grid;
    margin-top: 0.5rem;
    gap: 1rem;
    
    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;  
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  article:last-child {
    margin-bottom: 2rem;
  }
  
  .subtitle {
    color: $subtitle-color;
  }
  
  i img {
    border-radius: 0;
  }
  
  hr {
    background-color: $divisor-color;
    opacity: 0.1;
  }
  
  button {
    padding: 0.813rem 1rem;
    width: 8.688rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
  }

}


