@use '../abstracts/index' as *;

body {
  overflow-x: hidden;
  color: $font-color;
  background-color: $bg-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem 4rem 1rem;
  // background-color: red;
  align-items: center;

  img {
    border-radius: 50%;
  }

  section {
    display: flex;
    flex-direction: column;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  
  
  
  article:last-child {
    margin-bottom: 2rem;
  }
  
  .subtitle {
    color: $subtitle-color;
  }
  
  i img {
    border-radius: 0;
  }
  
  hr {
    background-color: $divisor-color;
    opacity: 0.1;
  }
  
  button {
    padding: 0.813rem 1rem;
    width: 8.688rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
  }


}



