$bg-color: #f9f7fe;
$font-color: #464646;
$subtitle-color: #A3A3A3;
$consult-block-bg: #FFF;
$divisor-color: #464646;
$chat-bg: #F6F6F6;
$video-button-bg: #FFB050;
$audio-button-border: #ECECEC;
$base-color: #4894FF;
$base-color-shadow:#4894ffe6;
$menu-bar-bg-color: #fff;
$mobile-menu-box-shadow-color: #0000000f;
$menu-bar-box-shadow-color: $mobile-menu-box-shadow-color;
