$bg-color: hsl(255, 80%, 98%);
$font-color: hsl(0, 0%, 27%);
$subtitle-color: hsl(0, 0%, 64%);
$consult-block-bg: hsl(0, 0%, 100%);
$divisor-color: hsl(0, 0%, 27%);
$chat-bg: hsl(0, 0%, 96%);
$video-button-bg: hsl(33, 100%, 66%);
$audio-button-border: hsl(0, 0%, 93%);
$base-color: hsl(215, 100%, 64%);
$base-color-shadow:hsla(215, 100%, 64%, 0.9);
$menu-bar-bg-color: hsl(0, 0%, 100%);
$shadows: hsla(0, 0%, 0%, 0.059);
$mobile-menu-box-shadow-color: $shadows;
$menu-bar-box-shadow-color: $shadows;
